@import url('https://fonts.googleapis.com/css?family=Poppins');
/* change the background color */
.navbar-custom {
    background-color: #330033;
    font-family: Poppins;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
    padding: 0.8rem 1rem;
    font-family: Poppins;
}
/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    padding: 1rem 1rem;
    font-family: Poppins;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: #993366; /* add background-color to active links */
    font-family: Poppins;
}
.title {
  margin: 0.3em;
  text-align: center;
  font-family: Poppins;
}
.calendar {
  text-align: center;
  font-family: Poppins;
}
  .map {
    margin: 1em;
    font-family: Poppins;
    text-align: center;
}
h1 {
  margin: 0.3em;
  font-family: Poppins;
  color: #330033;
  text-align: center;
}
h2 {
margin: 0.6em
font-family: Poppins;
color: #330033;
}
.link a {
  margin: 1em;
  font-size: 15px;
  font-family: Poppins;
  color: #993366;
}
.heading {
  margin: 1em;
  font-size: 24px;
  font-family: Poppins;
  color: #330033;
}

p {
  margin: 1em;
  font-size: 20px
  font-family: Poppins;
  color: #330033;
  text-align: center;
}
body {
  background-image: url("../images/colourfulEdit.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
  color: #330033;
  cursor:  url('../images/Dominosmall.png'), auto;
}
h2 {
  margin: 0.45em;
}
h5 {
  margin: 0.8em;
  font-weight: bold;
}
h6 {
  text-align: center;
  font-family: Poppins;
  color: #330033;
}
